.w-form-formradioinput--inputType-custom {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    width: 12px;
    height: 12px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .w-form-formradioinput--inputType-custom.w--redirected-focus {
    box-shadow: 0px 0px 3px 1px #3898ec;
  }
  
  .w-form-formradioinput--inputType-custom.w--redirected-checked {
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-color: #3898ec;
    border-bottom-color: #3898ec;
    border-left-color: #3898ec;
    border-right-color: #3898ec;
  }
  
  body {
    font-family: 'DM Sans', sans-serif;
    color: #23286b;
    font-size: 18px;
    line-height: 1.5;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.04em;
  }
  
  h2 {
    margin-top: 0px;
    margin-bottom: 32px;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 2.4em;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.04em;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .section.hero {
    display: block;
    height: auto;
    min-height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .section.footer {
    padding-bottom: 60px;
    color: #fff;
  }
  
  .section.footer.bg-dark {
    background-color: #fff;
  }
  
  .grid-3-columns {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .card-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
  
  .card-description {
    margin-bottom: 16px;
  }
  
  .bg-dark {
    background-color: #23286b;
    color: #fff;
  }
  
  .container-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .container-flex.wide {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .primary-button {
    margin-top: 30px;
    padding: 16px 36px;
    border-radius: 0px;
    background-color: #f1b503;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #23286b;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  .primary-button:hover {
    background-color: #d59f00;
  }
  
  .featured-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .grid-2-columns {
    display: -ms-grid;
    display: grid;
    margin-bottom: 100px;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
  
  .grid-2-columns.last {
    margin-bottom: 0px;
  }
  
  .footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 52px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  
  .footer-label {
    margin-top: 0px;
    margin-bottom: 24px;
    color: #23286b;
    font-size: 1em;
  }
  
  .footer-link {
    display: block;
    margin-bottom: 10px;
    color: #23286b;
    text-decoration: none;
  }
  
  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
  }
  
  .call-to-action-wrapper {
    padding-right: 100px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .pill {
    margin-bottom: 12px;
    padding: 6px 16px;
    border: 2px solid #428cfb;
    border-radius: 20px;
    color: #428cfb;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  .nav-link {
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
  }
  
  .nav-link:hover {
    color: #428cfb;
  }
  
  .nav-link.w--current {
    color: #428cfb;
  }
  
  .brand {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    color: #23286b;
    font-size: 1.2em;
    font-weight: 700;
  }
  
  .nav-menu {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  
  .feature-link {
    margin-top: 20px;
    border-bottom: 2px solid #428cfb;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    color: #23286b;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .feature-link:hover {
    border-bottom-color: #1372ff;
    color: #1372ff;
  }
  
  .lightblue {
    color: #fff;
  }
  
  .footer-brand {
    color: #23286b;
    font-weight: 700;
    text-decoration: none;
  }
  
  .text-block {
    color: #23286b;
    font-size: 1.2em;
  }
  
  .cta {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .cta.bg-dark {
    background-color: transparent;
  }
  
  .subfooter {
    font-size: 0.8em;
    text-align: center;
  }
  
  .div-block {
    width: 80px;
    height: 1px;
  }
  
  .heading {
    color: #f1b522;
    font-size: 48px;
  }
  
  .paragraph {
    overflow: visible;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    text-align: left;
  }
  
  .image-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  
  .image-3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  
  .heading-2 {
    color: #f1b522;
  }
  
  .text-block-2 {
    color: #f1b522;
  }
  
  .text-block-3 {
    color: #23286b;
  }
  
  .feature-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .feature-image-mask {
    width: 100%;
    margin-right: 40px;
  }
  
  .feature-image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .centered-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  
  .gallery-grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    -ms-grid-row-align: center;
    align-self: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: auto auto;
  }
  
  .gallery-lightbox {
    position: relative;
    overflow: hidden;
  }
  
  .gallery-thumbnail {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  
  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 9px;
    background-color: #f1b503;
  }
  
  .heading-3 {
    float: none;
  }
  
  .button {
    display: inline-block;
    float: right;
    background-color: #ec3841;
  }
  
  @media screen and (max-width: 991px) {
    .section {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .container-flex.call-to-action {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  
    .call-to-action-wrapper {
      margin-bottom: 40px;
      padding-right: 0px;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    }
  
    .nav-menu {
      background-color: #fff;
    }
  
    .menu-button {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-transform: translate(18px, 0px);
      -ms-transform: translate(18px, 0px);
      transform: translate(18px, 0px);
    }
  
    .menu-button.w--open {
      background-color: #fff;
    }
  
    .heading {
      font-size: 55px;
    }
  
    .icon {
      color: #23286b;
    }
  
    .gallery-grid-container {
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
    }
  }
  
  @media screen and (max-width: 767px) {
    .section {
      padding-right: 20px;
      padding-left: 20px;
    }
  
    .container-flex {
      padding-right: 24px;
      padding-left: 24px;
    }
  
    .primary-button {
      display: block;
      margin-right: auto;
      margin-left: auto;
      float: none;
      text-align: center;
      background-clip: border-box;
      -o-object-fit: fill;
      object-fit: fill;
    }
  
    .featured-text {
      margin-bottom: 40px;
    }
  
    .grid-2-columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .grid-2-columns.mobile-inverted {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
  
    .footer-menu {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .brand {
      padding-left: 0px;
    }
  
    .footer-brand {
      margin-bottom: 20px;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      -webkit-box-flex: 0;
      -webkit-flex: 0 100%;
      -ms-flex: 0 100%;
      flex: 0 100%;
    }
  
    .container {
      padding-right: 24px;
      padding-left: 24px;
    }
  
    .subfooter {
      text-align: left;
    }
  
    .image-4 {
      margin-top: 10px;
    }
  
    .feature-section {
      padding: 40px 20px;
    }
  
    .flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .feature-image-mask {
      margin-right: 0px;
    }
  
    .feature-image {
      margin-right: auto;
      margin-left: auto;
    }
  
    .gallery {
      padding: 40px 20px;
    }
  
    .gallery-grid-container {
      max-width: none;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
    }
  
    .columns {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .submit-button {
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 2.4em;
    }
  
    .section {
      padding: 80px 10px;
    }
  
    .grid-3-columns {
      grid-column-gap: 20px;
    }
  
    .footer-menu {
      margin-bottom: 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .footer-label {
      margin-top: 15px;
    }
  
    .nav-menu {
      background-color: #fff;
    }
  
    .feature-heading {
      font-size: 2em;
      line-height: 1;
    }
  
    .footer-brand {
      margin-bottom: 20px;
    }
  
    .menu-button.w--open {
      background-color: transparent;
    }
  
    .footer-column {
      margin-bottom: 20px;
    }
  
    .heading {
      font-size: 48px;
      -o-object-fit: contain;
      object-fit: contain;
    }
  
    .icon {
      color: #23286b;
    }
  
    .centered-container {
      text-align: left;
    }
  
    .gallery-grid-container {
      margin-right: 0px;
      margin-left: 0px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
    }
  
    .columns {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  
    .submit-button {
      margin-top: 10px;
    }
  
    .image-5 {
      text-align: center;
    }
  
    .heading-3 {
      text-align: center;
    }
  
    .radio-button-label {
      text-align: center;
    }
  
    .radio-button-label-2 {
      text-align: center;
    }
  
    .form {
      text-align: center;
    }
  
    .button {
      display: block;
      width: 50%;
      margin-right: auto;
      margin-bottom: 24px;
      margin-left: auto;
      float: none;
      text-align: center;
    }
  
    .heading-4 {
      text-align: center;
    }
  
    .text-block-4 {
      text-align: center;
    }
  
    .heading-5 {
      text-align: center;
    }
  
    .text-block-5 {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 767px) {
    #w-node-_15b6f4d8-64db-4765-fd98-e69d73dfaa18-b665a115 {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 3;
      grid-column-start: span 3;
      -ms-grid-column-span: 3;
      grid-column-end: span 3;
    }
  
    #w-node-_22754de9-f8c7-f7cd-a757-d60cd7993e10-b665a115 {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 3;
      grid-column-start: span 3;
      -ms-grid-column-span: 3;
      grid-column-end: span 3;
    }
  
    #w-node-_745f84bc-601c-838a-a03b-d63bac9179dc-b665a115 {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 3;
      grid-column-start: span 3;
      -ms-grid-column-span: 3;
      grid-column-end: span 3;
    }
  }
  