<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 03 2021 22:11:14 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="603ea70bee3ce5160c1bf5c3" data-wf-site="6033d034043b639e0565a112">
<head>
  <meta charset="utf-8">
  <title>WikiGuesser | Game Over</title>
  <meta content="gameOver" property="og:title">
  <meta content="gameOver" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="public/css/philips-initial-project-4b177f.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["DM Sans:regular,500,700"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
</head>
<body>
  <div class="container-3 w-container">
    <div>
      <h1 class="heading-9">Game Over</h1>
      <p class="paragraph-5">{{ .LostText }}</p>
      {{ if .CorrectAnswer }}
        <h3 class="heading-10">The Correct Answer Was: {{ .CorrectAnswer }}</h3>
      {{ end }}
      <h3 class="heading-10">Your Score Was:</h3>
      <h2 class="heading-11">{{ .Score }}</h2>
      <h3 class="heading-10">The Average Score Is:</h3>
      <h2 class="heading-11">{{ .AverageScore }}</h2>
      <h3 class="heading-10">Your Global Leaderboard Position Is:</h3>
      <h2 class="heading-11">{{ .LeaderboardPosition }}</h2>
      <a href="/games" class="primary-button w-button">Play again</a>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6033d034043b639e0565a112" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="public/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>