<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/public/css/philips-initial-project-4b177f.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["DM Sans:regular,500,700"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <title>WikiGuesser | Game</title>
</head>
<body>
    <section id="gallery" class="gallery">
      <div class="centered-container w-container">
        <a href="/api/endgame" class="button w-button">Quit Game</a>
        <h2 class="heading-3">Guess The Title</h2>
        <div class="columns w-row">
          <div class="w-col w-col-6"><img src="{{ .ImgSrc }}" loading="eager" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 354px, 460px" alt="" class="image-5"></div>
          <div class="w-col w-col-6">
            <div class="w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="form" method="post" action="/api/verifygameanswer">
                {{ range .Titles }}
                  <label class="w-radio"><input type="radio" data-name="{{ . }}" id="{{ . }}" name="titleChoice" value="{{ . }}" class="w-form-formradioinput w-radio-input"><span class="w-form-label">{{ . }}</span></label>
                {{ end }}
                  <input type="submit" value="Next" data-wait="Please wait..." class="submit-button w-button">
                </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <h1 class="heading-4">Time left: </h1>
            <div class="text-block-4" ><h3 id="timeCountDown">{{ .TimeLeft }}</h3><h3>Seconds</h3></div>
          </div>
          <div class="w-col w-col-6">
            <h1 class="heading-5">Score:</h1>
            <div class="text-block-5"><h3>{{ .ScoreCount }}</h3></div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6033d034043b639e0565a112" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="public/js/webflow.js" type="text/javascript"></script>
    <script src="public/js/timeCountDown.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  </body>
</html>