<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sun Mar 07 2021 00:50:28 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="60441c2037463b3879fcf355" data-wf-site="6033d034043b639e0565a112">
<head>
  <meta charset="utf-8">
  <title>profile</title>
  <meta content="profile" property="og:title">
  <meta content="profile" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/public/css/philips-initial-project-4b177f.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["DM Sans:regular,500,700"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
</head>
<!--<body class="body">
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
    <div class="container-flex wide w-container">
      <a href="#" class="brand w-nav-brand">
        <div>WikiGuesser</div>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/" class="nav-link w-nav-link">Home</a>
        <a href="/games" class="nav-link w-nav-link">Play</a>
        <a href="/leaderboard/original" class="nav-link w-nav-link">Leaderboards</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-container">
    <h1 class="heading-12"> {{ .Username }}</h1>
  </div>
  <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
    <div class="mask w-slider-mask">

      {{ range .Gamemodes }}

      <div class="slide-2 w-slide">
        <h1 class="heading-13">{{ .Name }}</h1>
        <div class="w-layout-grid grid">
          <h1 class="heading-14 w-node-_0f2e438b-1fac-8bc1-a197-6ce4724a5275-79fcf355">High Score<br><br>{{ .HighScore }}</h1>
          <h1 class="heading-14">Average Score<br><br>{{ .AverageScore }}</h1>
          <h1 class="heading-14">Games Played<br><br>{{ .GamesPlayed }}</h1>
          <h1 class="heading-14">Leaderboard Rating<br><br>#{{ .LeaderboardPosition }}</h1>
        </div>
      </div>

      {{ end }}

    </div>
    <div class="w-slider-arrow-left">
      <div class="icon-5 w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="icon-4 w-icon-slider-right"></div>
    </div>
    <div class="slide-nav w-slider-nav w-round"></div>
  </div>

  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6033d034043b639e0565a112" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/public/js/webflow.js" type="text/javascript"></script>
</body>
-->

</html>