<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/public/css/philips-initial-project-4b177f.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["DM Sans:regular,500,700"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
    <title>WikiGuesser</title>
  </head>
  <body>
    <div>
      <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
        <div class="container-flex wide w-container">
          <a href="#" class="brand w-nav-brand">
            <div>WikiGuesser</div>
          </a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            {{ if .LoggedIn }}
              <a href="/games" class="nav-link w-nav-link">Play</a>
              <a href="/profile" class="nav-link w-nav-link">Profile</a>
              <a href="/leaderboard/original" class="nav-link w-nav-link">Leaderboards</a>
            {{ else }}
              <a href="/login" class="nav-link w-nav-link">Login</a>
              <a href="/register" class="nav-link w-nav-link">Register</a>
            {{ end }}
          </nav>
          <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
    <section id="hero-layout" data-w-id="390c9858-96a6-4cd4-2c95-514dacddc4e3" style="opacity:1" class="section hero">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-6">
            <h1 class="heading">Join Our {{.UserCount}} Members Today!</h1>
            <p class="paragraph">WikiGuesser Is A Game That Will Challenge Your <br>Knowledge And Make You Compete For The Global Highscore.</p>
            <a href="/games" class="primary-button w-button">Play NOW</a>
          </div>
          <div class="w-col w-col-6"><img src="/public/images/controller.png" loading="lazy" sizes="(max-width: 767px) 92vw, (max-width: 991px) 354px, 460px" srcset="/public/images/controller-500.png 500w, /public/images/controller-800.png 800w, /public/images/controller-1080.png 1080w, /public/images/controller.png 2500w" alt="" class="image-4"></div>
        </div>
      </div>
    </section>
    <section id="Scrolled" class="section bg-dark">
      <div class="container w-container">
        <div class="grid-3-columns">
          <div id="w-node-_15b6f4d8-64db-4765-fd98-e69d73dfaa18-b665a115" class="card"><img src="/public/images/icons8-ask-question-100-1.png" alt="" loading="lazy" class="image-3">
            <div class="card-title">A Large Amount Of Questions</div>
            <div class="div-block"></div>
            <div class="card-description">Question Count: {{ .QuestionCount }}</div>
          </div>
          <div id="w-node-_22754de9-f8c7-f7cd-a757-d60cd7993e10-b665a115" class="card"><img src="/public/images/icons8-man-winner-100.png" alt="" loading="lazy" class="image">
            <div class="card-title">Compete For The Global High Score!</div>
            <div class="card-description">Gobal High Score: {{ .HighScore }}</div>
          </div>
          <div id="w-node-_745f84bc-601c-838a-a03b-d63bac9179dc-b665a115" class="card"><img src="/public/images/icons8-person-100.png" alt="" loading="lazy" class="image-2">
            <div class="card-title">A Growing User Base</div>
            <div class="card-description">User Count: {{ .UserCount }}</div>
          </div>
        </div>
      </div>
    </section>
    <footer class="section footer bg-dark">
      <div class="container w-container">
        <div class="footer-menu">
          <a href="#" class="footer-brand w-inline-block">
            <div class="text-block">WikiGuesser</div>
          </a>
          <div class="footer-column">
            <h3 class="footer-label">Account</h3>
            <ul role="list" class="w-list-unstyled">
              <li>
                <a href="/login" class="footer-link">Login</a>
              </li>
              <li>
                <a href="/register" class="footer-link">Register</a>
              </li>
              <li>
                <a href="/profile" class="footer-link">Profile</a>
              </li>
            </ul>
          </div>
          <div class="footer-column">
            <h3 class="footer-label">Play</h3>
            <ul role="list" class="w-list-unstyled">
              <li>
                <a href="/games" class="footer-link">Games</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="subfooter">
          <div class="text-block-3">Images provided by <a target="_blank" href="https://icons8.com" class="feature-link">icons8.com</a>
            And <a target="_blank" href="https://www.linkedin.com/in/simon-paulsen-40153a200/" class="feature-link">Simon Paulsen</a>
          </div>
        </div>
      </div>
    </footer>
    <div class="w-embed">
      <style type="text/css">
  .feature-link {
      text-underline-position: under;
    }
  </style>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6033d034043b639e0565a112" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/public/js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  </body>
</html>
