<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sat Mar 06 2021 14:34:51 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6043921aeb50aa5f4453d004" data-wf-site="6033d034043b639e0565a112">
<head>
  <meta charset="utf-8">
  <title>register</title>
  <meta content="register" property="og:title">
  <meta content="register" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/public/css/philips-initial-project-4b177f.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["DM Sans:regular,500,700"]  }});</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
</head>
<body>
  <div class="container-2 w-container">
    <div class="div-block-3">
      <h1 class="heading-6">Register</h1>
      {{ if .UsernameAndEmailTaken }}
        <div class="alert alert-danger">Username And Email Is Already Taken</div>
      {{ else }}
        {{ if .UsernameTaken}}
          <div class="alert alert-danger">Username Is Already Taken</div>
        {{ end }}
        {{ if .EmailTaken}}
          <div class="alert alert-danger">Email Is Already Taken</div>
        {{ end }}
      {{ end }}

      {{ if .EmailDoesntMatch }}
        <div class="alert alert-danger">The Email Addresses Don't Match</div>
      {{ end }}

      {{ if .PasswordToWeak }} 
        <div class="alert alert-danger">The Password Is To Weak, Please Make It Atleast 6 Letters</div>
      {{ end }}

      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="post" action="/api/register">
          <label for="username-2">Username</label>
          <input type="text" class="w-input" maxlength="32" name="username" data-name="username" placeholder="Enter your username" id="username-2" required="required">
          <label for="email">Email</label>
          <input type="email" class="w-input" maxlength="256" name="email" data-name="email" placeholder="Enter your Email" id="email" required="required">
          <label for="emailConfirm">Email</label>
          <input type="email" class="w-input" maxlength="256" name="emailConfirm" data-name="emailConfirm" placeholder="Confirm Your Email" id="emailConfirm" required="required">
          <label for="password">Password</label>
          <input type="password" class="w-input" maxlength="256" name="password" data-name="password" placeholder="Enter Your Password" id="password" required="required">
          <input type="submit" value="Register" data-wait="Please wait..." class="submit-button-2 w-button">
        </form>
      </div>
      <a href="/login" class="primary-button-copy w-button">Go to login</a>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6033d034043b639e0565a112" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/public/js/webflow.js" type="text/javascript"></script>
  <script src="/public/js/register.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>